html, body {
    font-family: Helvetica;
    font-weight: bold;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: block;
}

.spacer {
    height: 100px;
}

#container {
    position: relative;
    top: 0px;
    left: 15%;
    right: 15%;
    width: 70%;
    height: 300px;
}

svg {
    overflow: visible;
    height: 100%;
    width: 100%;
    border:1px solid black;
}
